<html>

<title> Facebook login </title>

<head>

<link type="text/css" rel="stylesheet" href="stylesheets/style1.css" />

<script>

</script>

</head>

<body> 

<form method="POST" onsubmit="return validate()" action='SignInCheck'>

<div>

<div class="headerx"></div>

<div class="header">

<div id="form1" class="header"> Email or Username<br>

<input type="mail" placeholder="email" name="email" id="email1" /><br>

<input type="checkbox" >Keep me logged in

</div>

<div id="form2" class="header">Password <br>

<input type="password" name="password" placeholder="password" id="pwd"><br>

Forgot password

</div>



</div>

<input type="submit" value="Login" class="submit1">

</form>

<form method="POST" onsubmit="return validate1()" action='signup'>

<div class="bodyx">

<div id="intro1" class="bodyx" style:"color:black"> My Facebook prototype help people<br>

    to connect in the university </div>

<div id="intro2" class="bodyx ">Create an account </div>

<div id="img2" class="bodyx"><img src="" /></div>

<div id="intro3" class="bodyx ">It's free and always will be</div>

<div id="form3" class="bodyx">

<input type="text" placeholder="Enter your name" name="username" id="namebox">

<input type="text" placeholder="Enter email" name="email" id="mailbox">

<input type="text" placeholder="Re-enter email" name="email" id="mailbox">

<input type="password" placeholder="password" name="password" id="mailbox">

<input type="date" id="namebox" placeholder="dob" name="dob"><br>

<input type="radio" name="sex" value="Male"> Male

<input type="radio" name="sex" value="Female"> Female

<br><br>

By clicking create account, you agree with our terms


</div>

</div>

<input type="submit" class="button2" value="Sign up">

</form>

</body>

</html>