<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <p>Create a group></p>
     <form action= "creategroup" method="post">
      Group name<input type="text" name="Group Members"
     <br>
     <br>
         
     
     
     
        <button type="button" onclick="alert('Hello world!')">Add Member</button>
           
   <input type="submit" value="make a group">
   
    </body>
</html>