<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    
    <form method="post" action="signinCheck">
    
    
    email:<input type="text" name="username1"> <br>
    
    password:<input type="text" name="password1">
    <br>
  
    
    <input type="submit" id="ruchla1" name="ruchla1"/>
    </form>
    
    
    
  </body>
</html>